// Masthead
//
// Super small header above the content for site name and short description.

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
  align-items: stretch;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  font-variation-settings: 'CASL' 0, 'CRSV' 0;
}

.header {
  background: var(--geno-800);
}

.footer {
  background: var(--geno-400);
}

.main {
  text-align: left;
  font-weight: 300;
}
::placeholder {
  color:var(--geno-100);
  font-family: 'Recursive';
}
.aside-1 {
  background: var(--geno-650);
  width: 100%;
  transition: ease-in-out 0.4s all;

  &:focus {
    flex: 3 0 0;
    border: 2px solid var(--geno-400);
    color: var(--geno-200);
  }

  &[type="search"] {
    -webkit-appearance: textfield; /*  Correct the odd appearance in Chrome and Safari. */
    outline-offset: -2px; /*  Correct the outline style in Safari. */
    font-family: 'Recursive';
    font-weight: 400;
  }
}

.aside-2 {
  background: var(--geno-700);
}
.aside-3 {
  background: var(--geno-700)
}

.aside { 
  border: 1px solid var(--geno-600);
  flex: 1 0 0; 
  font-weight: 800;
  font-variation-settings: 'slnt' -7, 'CASL' 0;
  // margin: auto 0;
}

@media all and (min-width: 500px) {
  .header { flex: 3 1 0; }
}

@media all and (min-width: 800px) {
  .main    {  order: 5;}
  .aside-1 { order: 2; } 
  .aside-2 { order: 3; }
  .aside-3 { order: 4; }
  .footer  { order: 6; }
}

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  background-color: var(--geno-800);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}
