<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <div class="wrapper">
      <div class="head">
        <header class="logo">
          <a href="{{ site.baseurl }}/" title="Home"><img src="/public/header.svg"/></a>
        </header>
          <input class="aside aside-1" type="search" id="mySearch" onClick="goToSearch()" placeholder="SEARCH"/>
          <aside class="aside aside-2"><a href="/#sort" >SORT</a></aside>
          <aside class="aside aside-3"><a href="/#filter" >FILTER</a></aside>
      </div>
      

      <article class="main page">

        {% include breadcrumbs.html %}

         {{ content }}
      </article>
      <footer class="footer">Footer</footer>
    </div>     
    
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    
    <script>
    function goToSearch(){
      window.location = "/#search"
    }  

    </script>

  </body>
</html>
