<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <div class="wrapper">
      <div class="head">
        <header class="logo">
          <a href="{{ site.baseurl }}/" title="Home"><img src="/public/header.svg"/></a>
        </header>
        <!-- <div class="functions"> -->
          <input class="aside aside-1" type="search" id="mySearch" onkeyup="search()" placeholder="SEARCH"/>
          <aside class="aside aside-2">SORT</aside>
          <aside class="aside aside-3">FILTER</aside>
        <!-- </div> -->
      </div>
      

      <article class="main content page">
         {{ content }}
      </article>
      <footer class="footer">Footer</footer>
    </div>     
    
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    
    <script>

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

    </script>

  </body>
</html>
