<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrapper">
      <header class="header">
        <a href="{{ site.baseurl }}/" title="Home"><img src="/public/header.svg"/></a>
      </header>
      
      <aside class="aside aside-1">Search</aside>
      <aside class="aside aside-2">Sort</aside>
      <aside class="aside aside-3">Filter</aside>
      <article class="main content">
        <p>Content: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
        {{ content }}
      </article>
      <footer class="footer">Footer</footer>
    </div>     
    

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>
